.area{width:1000px;}
.line{background:url(../images/bgx.gif) repeat-x 0 0;height: 1px;font-size: 0;margin:0 auto;clear: both;overflow: hidden;margin:30px 0;}

#logo-frag{margin:23px auto 0 ;height: 73px;}
#logo-frag .left{margin:0;width: 350px;}
#logo-frag .logo{padding:0 10px 0 0;margin:0 15px 0 0;border-right:1px solid #E0E0E0;}
.category{height :48px;}
.category .my{background:#436993;line-height:22px;color:#fff;font-weight: bold;font-size: 14px;padding:0 8px;}
.category .my a{color:#fff;}
.cate-bread{margin:34px 0 0 0;font-size:12px;height: 14px;}
.cate-bread a{color:#004276}
.cate-bread a:hover{color:#f00}
.cate-bread em{color:#004276;padding:0 6px;}
.search form{ position : relative;}
.submit-btn{width: 25px;position: absolute;right: 3px;top: 3px;height: 20px;background: url(../images/3130_44be7c8d_9f75_3fea_6e6f_95766ec1533b_1.gif) no-repeat right top;border: none;outline: none;cursor: pointer;}
.search #topSearch{width:217px;height: 21px;border:1px solid #e0e0e0;line-height: 23px;padding:0 26px 0 5px; color:#e0e0e0 }
.search label {position: absolute;left: 5px;top: 6px;font-size: 12px;color: #999; z-index :99;}
#pagenav { vertical-align:middle}
#contentC{padding:20px 0;overflow:hidden;}
#contentC .left{width: 500px;height: 400px;}
.picBlock{position : relative;}
.picBlock a{color: #fff}
.picBlock a:hover p{color: #ccc; }

.picBox a{ display:block; }
.pic-txtBg{ height : 40px; position : absolute; background: #000;left: 0;bottom: 0;filter: alpha(opacity=50);opacity: 0.50;z-index:2; width:100%;}
.pic-txt{ font-size:14px;line-height: 40px;position: absolute;z-index:3;left:0;bottom: 0;overflow:hidden; text-align:center; width: 100%;}
.pic-txt a{color:#fff;}

.line,.nav-bg,#nav,.title-cut{background:url(../images/bgx.gif) repeat-x 0 0}
.nav-bg,#nav{height:38px;background-position:0 -10px}
#nav{height:37px;padding:1px 0 0}
#nav .left{width:auto;}
#nav .left li{float:left;width:49px;height:34px;margin-left:7px;text-align:center;font:600 14px/34px "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53";color:#666}
#nav .left li a{color:#666;display:block;width:100%;height:100%;text-decoration:none;}
#nav .left li a:hover{background:#436993;color:#fff}
#nav .left .first{width:66px;margin:0}
#nav .left .first a{color:#436993}
#nav .left a:hover{color:#c00}
#nav .left .new-back{width:78px}
#nav .left .new-back .cor-b-h{margin:16px 0 0 5px;*margin-top:8px;_margin-top:16px;vertical-align:top;_vertical-align:3px}
#nav .left .new-back a:hover .cor-b-h{background-position:-30px -180px}

.search-in{color:#aaa;height:20px;line-height:20px\9;border:1px #EDEDED solid;background:#fff url(../images/bg03.gif) no-repeat right top;outline:none}
#nav .center{width:193px;margin-top:5px}
#nav .center .sreach{position:relative;}
#nav .center .search-in{width:155px;padding:0 26px 0 10px}
#nav .center .sreach-layer{display:none;position:absolute;left:0;top:21px;width:191px;border:1px #EDEDED solid;padding:8px 0 7px;background:#fff}
#nav .center .sreach-layer li{cursor:pointer;line-height:24px;color:#aaa;padding-left:10px}

#nav .right{width:67px;margin-top:2px}
#nav .right .mobile{position:relative;font:600 14px/30px "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53";color:#666}
#nav .right .mob{cursor:pointer;padding-left:18px;width:44px;height:30px;display:inline-block;background-position:-50px -30px}
#nav .right .mob .cor-b-h{vertical-align:top;_vertical-align:3px;margin:14px 0 0 6px;*margin-top:8px;_margin-top:14px;}
#nav .right .mob-layer{display:none;position:absolute;left:-4px;top:28px;width:66px;padding:3px 0 6px;background:#fff;border:1px #F1F1F1 solid;}
#nav .right .mob-layer li{cursor:pointer;padding-left:20px;height:30px;overflow:hidden}
#nav .right .handset{background-position:-50px -60px}
#nav .right .client{background-position:-50px -90px}

.fragA{width:1000px;margin:0 auto;padding:20px 0 40px;overflow: hidden;}
.fragA .left{float: left;width:620px;margin-right:18px;}
.fragA .right{float: left;width:360px;padding-top: 18px;}

.tabs_con{width:464px;height: 348px;overflow: hidden;float: left;}
.tabs_con div{position: relative;width:464px;height: 348px;}
.tabs_con div img{display: block;margin:0 auto;}
.txt-bg{width:100%;height:35px;background:#000;position:absolute;left:0px;bottom:0px;filter:alpha(opacity=50);opacity: 0.50;}
.txt-txt{position:absolute;left:0;bottom:0;color:#fff;display:block;height:35px;overflow:hidden;line-height:35px;text-align:center;width:100%;font-size: 14px;}
.txt-txt a,.txt-txt a:hover{color:#fff;text-decoration:none;}
.tabs{float: left;}
.tabs ul li{cursor: pointer;margin-bottom:8px;width:156px;height: 111px;}
.tabs ul li img{margin:5px 0 0 13px;}
.current{background: url(../images/tab_bg.png);}

.fragA .right h2{text-align: left;margin-bottom: 20px;}
.fragA .right h2 a{color:#004276;font-size: 18px;font-family:\5fae\8f6f\96c5\9ed1;}
.fragA .right p{line-height: 24px;color:#666;}
.fragA .right p a{color:#004276;}

#contentA{width:1000px;margin:0 auto 30px;overflow: hidden;}
#contentA .left{float: left;width:620px;margin-right: 34px;}
#contentA .left .tit{border-bottom: 3px solid #e0e0e0;height:27px;line-height:15px;font-size: 16px;color:#436993;margin-bottom: 24px;}
#contentA .left .tit span{display: block;background: url(../images/c_h2bg.png) no-repeat;height: 30px;padding-left: 20px;font-family:\5fae\8f6f\96c5\9ed1;}
#contentA .right{width:342px;float: left;}

.article-list{padding:0 0 20px 0;border-bottom:1px solid #dadada;overflow: hidden;margin-bottom:20px; position: relative;zoom:1}
.new-article .pic-group { position: absolute; height: 130px; width: 100px; display: inline; left: 0; top:0px;zoom:1;display: none;}
.new-article .pic-group img{width:130px; height:100px}
.article-list h3{font-size:20px;text-align: left;line-height: 40px;height : 40px; font-family:"\5FAE\8F6F\96C5\9ED1"}
.article-list p{line-height: 24px;font-size: 12px;padding-bottom: 15px; padding-right:25px;color:#909090;font-size: 14px;font-family:"\5FAE\8F6F\96C5\9ED1"}
.article-list p a{color:#333;}
.article-list span {float: right}
.article-list .article {text-align: left;}
.article-list .article h3 a{font-weight: bold;}
.article-list .article h3 a:hover{color:#cc0000;}
.com-num a{ font-size: 12px; background: url(../images/213_009ff98e_0810_b0db_ccd2_b0f44710c7d9_1.gif) no-repeat 0 bottom ; padding-left:22px;color: #aaa}
.com-num a:hover{ color: #cc0000; text-decoration: none;background: url(../images/213_009ff98e_0810_b0db_ccd2_b0f44710c7d9_1.gif) no-repeat 0 2px ;}
.com-num-hover a{ font-size: 12px; background: url(../images/213_009ff98e_0810_b0db_ccd2_b0f44710c7d9_1.gif) no-repeat 0 bottom  ; padding-left:22px;color: #aaa}
.com-num-hover a:hover{ color: #cc0000; text-decoration: none;background: url(../images/icon.gif) no-repeat 0 2px ;}
.fun { display: block; clear:both; margin-left: 180px;}
.new-article .fun{margin:0 auto 0;color:#999;line-height:18px}
.new-article .fun .share{float:right;display:inline;width:190px}
.new-article .fun .share li{float:left;margin-right:6px; margin-top: 5px}
.new-article .fun .share li a{width:16px;height:16px;display:block;overflow:hidden;line-height:500px;background:url(../images/share_icon.gif) no-repeat; opacity: 0.2;filter: alpha(opacity=20);}
.new-article .fun .share .s-t{width:56px; margin-top: 0;height: 25px;line-height: 25px;}
.new-article .fun .share .blg a{background-position:0 0}
.new-article .fun .share .qq a{background-position:0 -20px}
.new-article .fun .share .rrw a{background-position:0 -60px}
.new-article .fun .share .db a{background-position:0 -80px}
.new-article .fun .share .itb a{background-position:0 -100px}
.new-article .fun .share .weibosina a{background-position:0 -40px}
.new-article .fun .label{float:left;}
.new-article .fun .time{float:left}

.pages{margin:40px auto 0;text-align:center;font:16px/22px "\5FAE\8F6F\96C5\9ED1";}
.pages a{border:1px #E5E5E5 solid;display:inline-block;padding:4px 10px 0;*padding-top:5px;margin:0 5px;height:22px;*height:21px;text-decoration:none;vertical-align:middle; line-height:18px}
.pages a:hover{border:1px #2D3640 solid;color:#333}
.pages span{display:inline-block}
.pages .now a{background:#505B67;color:#fff;border:1px #2D3640 solid}
.pages .pre a{background-position:10px -120px;padding-left:20px}
.pages .next a{background-position:55px -140px;padding-right:20px}
.pages .pre-n,.pages .next-n{border:1px #E5E5E5 solid;color:#999;padding:4px 10px 0;*padding-top:5px;height:22px;*height:21px;margin:0 5px}
.pages .pre-n{background-position:10px -160px;padding-left:20px}
.pages .next-n{background-position:55px -180px;padding-right:20px}
.pages table {margin:0 auto;}
.pages table td { line-height:18px;}
#pagenav {vertical-align:middle; }

#menu-k{margin-bottom: 22px;}
.menuA{position:relative;height:32px;line-height:28px;border-bottom:1px #DCDCDC solid;}
.menuA ul{height:33px;position:absolute;left:0;top:0}
.menuA li{cursor:pointer;height:33px;color:#666;float:left;display:inline;padding:0 7px;margin-right:5px;font:16px/28px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";width: 67px;line-height: 33px}
.menuA .now{background:url(../images/now_bg.png);color:#436993;}
.menuA .end{margin:0}
.sn-list{margin:7px auto 0}
.sn-list li{height:28px;line-height:28px;overflow:hidden}
.sn-list .num{float:right;color:#aaa}
.sn-list .sn{float:left;width:26px;font-weight: bold;color:#333}
.sn-list .col{color:#b52323;}
.sn-list ul span { float: right; color: #aaa; }

#contentA #menu-e .menuC { position : relative; height: 30px; z-index: 1;border-bottom: 1px #DCDCDC solid;}
.menuC .title{width:74px;border:0;height:29px;float:left;overflow: hidden;line-height: 28px;text-align: right;border-bottom: 1px #DCDCDC solid;}
.coverage .title span, .menuC .title span, .title-cut .tt{background: url(../images/title.gif) no-repeat;}
.menuC .title span{width:100%;height:24px;overflow:hidden;line-height:500px;background-position:0 -330px;float: left;color:#333;font:16px/24px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";line-height: 500px;}
.menuC .title span a{display:block;width:100%;height:100%;font-weight: bold;}
#contentA #menu-e .title-ad{position: absolute;left: 80px;top:0;width:120px;height: 30px;z-index: 1}
.menuC ul{float: right;display: inline;margin-top: 6px;}
.menuC li{cursor: pointer;float: left;display: inline;margin-left: 4px;width: 8px;height: 8px;border:3px #fff solid;font-size: 0;background:#DADADA }
.menuC .now{background: #7EB6E4;}
.blue a{color: #004276;}
.pic-text h3{padding:4px 0;font:14px/24px "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53";}
.pic-text h3 a{color:#004276;}

#contentA .blockRB, #contentA .blockRC, #contentA .blockRE{margin:21px auto 0;}
.title{overflow: hidden;line-height: 28px;height: 30px;text-align: right;border-bottom:1px #DCDCDC solid }
.title span{float: left;font:16px/24px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";color:#333;}
.right .title a{font-weight: bold;}
.list14 li, .list12 li{width:122px;float: left;background: url(../images/dot.gif) 0 -30px no-repeat 0 0;padding:0 0 0 8px;line-height: 28px;}
.r-m, .r-m a{color:#999;}
.add{margin-right: 2px;color:#436993;}

.fragB{width:1000px;margin:0 auto;overflow: hidden;background: #f5f5f5;}
.fragB .tit{border-bottom:1px solid #e0e0e0;height: 45px;line-height: 45px;color:#436993;font-size: 16px;font-family:\5fae\8f6f\96c5\9ed1;background: url(../images/icon1.png) 10px center no-repeat;padding-left:30px;margin-bottom: 24px;}

.scrolltitle{height:24px;font-size:14px;width:742px;border-bottom:solid 1px #ddd;margin:20px auto 15px auto;}
a.abtn{margin-top: 90px;display: block;}
a.aleft{float:left;width:22px;background: url(../images/icon2.png) 0 -45px no-repeat;height: 28px;}
a:hover.aleft{background: url(../images/icon2.png) 0 0 no-repeat;cursor: pointer;}
a.agrayleft{cursor:default;float:left;width:22px;background: url(../images/icon2.png) 0 -45px no-repeat;height: 28px;}
a.aright{float:left;width:22px;background: url(../images/icon2.png) -30px -45px no-repeat;height: 28px;}
a:hover.aright{background: url(../images/icon2.png) -30px 0 no-repeat;cursor: pointer;}
a.agrayright{cursor:default;width:22px;background: url(../images/icon2.png) -30px -45px no-repeat;height: 28px;}
.scrolllist{width:944px;height:408px;margin:0 auto;padding:0 28px;}
.scrolllist .imglist_w{width:882px;height:408px;overflow:hidden;float:left;position:relative;/*必要元素*/}
.scrolllist .imglist_w ul{width:20000px;position:absolute;left:0px;top:0px;}
.scrolllist .imglist_w li{width:254px;float:left;padding:0 20px;}

.scrolllist .imglist_w li a{color:#3366cc;text-decoration:none;float:left;}
.scrolllist .imglist_w li a:hover img{filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;}
.scrolllist .imglist_w li p{height:48px;line-height:24px;overflow:hidden;float:left;}





  
 

.dede_pages{
}
.dede_pages ul{
	float:left;
	padding:12px 0px 12px 16px;
}
.dede_pages ul li{
	float:left;
	font-family:Tahoma;
	line-height:17px;
	margin-right:6px;
	border:1px solid #E9E9E9;
}
.dede_pages ul li a{
	float:left;
	padding:2px 4px 2px;
	color:#555;
	display:block;
}
.dede_pages ul li a:hover{
	color:#690;
	text-decoration:none;
	padding:2px 4px 2px;
}
.dede_pages ul li.thisclass,
.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
	background-color:#F8F8F8;
	padding:2px 4px 2px;
	font-weight:bold;
}
.dede_pages .pageinfo{
	line-height:21px;
	padding:12px 10px 12px 16px;
	color:#999;
}
.dede_pages .pageinfo strong{
	color:#555;
	font-weight:normal;
	margin:0px 2px;
}






















<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<script language="javascript" src="/ad.js"></script>